@{
    ViewData["Title"] = "Info integrantes";

}
<body>
<h1>Info Integrantes</h1>
@foreach(Integrante item in viewBag.integrantes)
    {
     <a href= @Url.Action("Integrantes", "Home" new (Integrante item)) Ver info de item</a>
    }
<h2>El Integrante @viewBag.dni es @viewBag.integrantes[0].getName()</h2>
<div>
    <h3>DNI: @viewBag.integrantes[0].getDNI()</h3>
    <h3>Fecha de nacimiento: @viewBag.integrantes[0].getDate()</h3>
    <img src=Imagenes/@viewBag.integrantes[0].getImage()>
    @for(int i = 0; i < @viewBag.integrantes[0].getRelatives().Count; i++)
    {
        @Console.WriteLine(@viewBag.integrantes[0].getRelatives()[i])
    }
    @for(int i = 0; i < @viewBag.integrantes[0].getInterests().Count; i++)
    {
        @Console.WriteLine(@(viewBag.integrantes[0].getInterests())[i])
    }
</div>

</body>
