@{
    ViewData["Title"] = "Info integrantes";

}
<body>
<h1>Info Integrantes</h1>
@foreach(Integrante item in viewBag.integrantes)
    {
     <a href= @Url.Action("Integrantes", "Home" new (Integrante item)) Ver info de item</a>
    }
<h2>El Integrante identificado por @viewBag.dni es @viewBag.integrantes[dni].getName()</h2>
<div>
    <h3>DNI: @viewBag.integrantes[dni].getID()</h3>
    <h3>Fecha de nacimiento: @viewBag.integrantes[dni].getDate()</h3>
    <img src=Imagenes/@viewBag.integrantes[0].getImage()>
    @for(int i = 0; i < @viewBag.integrantes[dni].getRelatives().Count; i++)
    {
        @Console.WriteLine(@viewBag.integrantes[dni].getRelatives()[i])
    }
    @for(int i = 0; i < @viewBag.integrantes[dni].getInterests().Count; i++)
    {
        @Console.WriteLine(@viewBag.integrantes[dni].getInterests()[i])
    }
</div>
<p>Familiarizate con el grupo al que <a href="Index.cshtml">ESTE INTEGRANTE PERTENECE</a></p>
</body>
